.modalDiv{
    position:absolute;
    left:20%;
    top:91px;
    width: 225px;
    overflow: auto;
    background-color: yellow;
    border: black solid 3px;
    box-shadow: 5px 10px black;
    display:none;
    z-index: 3;
}

#joinMemo{
    height:100px;
    width:200px;
}


#blackoutDiv{
    background-color: black;
    opacity: 0.7;
    width:100%;
    height:100%;
    display:none;
    position: absolute;
    left:0;
    top:0;
    z-index:2;
}

.inputValue{
    color:gray;
}

.inputValue:focus{
    color:black;
}

#closeBtn{
    cursor:pointer;
    position: absolute;
    top:0px;
    right:0px
}

.joinBtn{
    cursor:pointer
}

a{
    cursor:pointer
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th{
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.navbar {
    background: url(../images/appLogo.png width="06") no-repeat;
    color:#fff;
    border-bottom: #008ed6 3px solid;
    /* opacity: 0.8; */
}

/* benefits section */
#benefits-section {
    background: url(../images/carpooling.jpeg) no-repeat;
    background-size: cover;
    background-attachment: relative;
    min-height: 700px;
}

p#benefits {
    margin-top: 85px;
    font-size: 16px;
    text-align: left;
    font-family: helvetica, times, serif;
    color: lightgoldenrodyellow;
    font-weight: bold;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 600px;
}

.home-inner {
    padding-top: 80px;
}

.card-form {
    opacity: 0.8;
}

#listDiv{
    position:relative;
    top:140px;
    left:0px;
}

.svg-inline--fa {
    position: relative;
    display: inline-block;
    top: 7px;
    right: -96px;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

/* about section */

img {
    max-width: 6%;
    height: auto;
}
#about-section {
    background: url(../images/reunion.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

.about-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
}



/* Main Footer */
#main-footer{
  background-color: #2d363d;
  color:#fff;
  border-top: #008ed6 3px solid;
}