

body {
  background: #F2F3EB;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 70px;
  padding-bottom: 2px;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.pin {
	float: right;
	width: 45%;
}

input[type='text'], [type='password'], select, textarea {
	background: none;
    border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
    text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}


.modalDiv{
    display: none;
}


input[type='text']:focus, [type='password']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}


.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#joinBtn {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='password'], select, textarea {
    font-size: 0.875em;
  }
}

/* 
#joinMemo{
    height:100px;
    width:200px;
} */


/* #blackoutDiv{
    background-color: black;
    opacity: 0.7;
    width:100%;
    height:100%;
    display:none;
    position: absolute;
    left:0;
    top:0;
    z-index:2;
} */

/* .inputValue{
    color:gray;
} */

/* .inputValue:focus{
    color:black;
} */

/* #closeBtn{
    cursor:pointer;
    position: absolute;
    top:0px;
    right:0px
} */

.joinBtn{
    cursor:pointer
}

a{
    cursor:pointer
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th{
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* home */
.navbar {
    border-bottom: #008ed6 3px solid;
    /* opacity: 0.8; */
}

#home-section {
    background: url(../images/carpooling.jpeg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

h1#title {
    font-family: 'Indie Flower', cursive;
    font-size: 54px;
    color: white;
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 40px;
}

p#benefits {
    font-family: 'Crete Round', serif;
    font-size: 21px;
    color: white;
    font-weight: bold;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
}

.home-inner {
    padding-top: 80px;
}

.card-form {
    opacity: 0.8;
}

/* about us */
#aboutus {
   background: url(../images/lights.jpeg) no-repeat;
   background-size: cover;
   background-attachment: fixed;
   border-bottom: #008ed6 3px solid;
   border-top: #008ed6 3px solid;
   height: 208px;
}

/* about */
#about {
   background: url(../images/speed.jpeg) no-repeat;
   background-size: cover;
   background-attachment: fixed; 
}

.img-fluid {
    max-width: 79%;
    height: auto;
    margin-top: -50px;
}

/* Why font */
#why {
    color: green;
    font-family: 'Fredoka One', cursive;
    font-size: 21px;
}

/* footer */
#main-footer{
 background-color: #2d363d;
 color:#fff;
 border-top: #008ed6 3px solid;
}

#listDiv{
    position:relative;
    top:90px;
    left:0px;
}

.showRiders,#joinBtn,#postPinBtn{
    cursor:pointer
}

#ridersDiv{
    width:300px;
    height:auto;
}